<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="/styles/style2.css">
</head>

<body>
    <header>
        <%- include('./partials/header'); %>
    </header>

    <h1>Košarica</h1>

    <div id="cart-items">
        Vaša košarica je prazna
    </div>

    <script src="/scripts/cart-script.js"></script>
</body>

</html>