<div class="logo">
  <img src="/images/logo.jpg" alt="Logo">
</div>

<div class="category">
  <p>
    <%= name %>
  </p>
</div>

<div class="cart-search">
  <a href="http://localhost:3000/cart">
    <img src="/images/cart.jpg" alt="Cart">
    <span class="cart-total"></span>
  </a>

  <a href="#">
    <img src="/images/search.jpg" alt="Search">
  </a>
</div>